from typing import *
import {{ library_import }}
import json
import pydantic
{% if use_orjson %}
import orjson
{% endif %}

T = TypeVar("T")

if pydantic.__version__ >= "2":
    from pydantic import TypeAdapter
else:

    class TypeAdapter(Generic[T]):  # type: ignore[no-redef]
        def __init__(self, type: Type[T]) -> None:
            self._type = type

        def validate_python(self, object: Any) -> T:
            return pydantic.parse_obj_as(self._type, object)


from ..models import *
from ..api_config import APIConfig, HTTPException

{{ content | safe}}
